<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th>Id</th>
        <th>Ad</th>
        <th>Kateqoriya</th>
        <th>Marka</th>
        <th>Kod</th>
        <th>Miqdar</th>
        <th>Qiymət</th>
        <th>Tarix</th>
        <th>Aktivlik</th>
        <th>Əməliyyatlar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table text-center" *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.brand.name}}</td>
        <td>{{product.code}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.price}}</td>
        <td>{{product.createDate | date :'dd/MM/yyyy, HH:mm:ss'}}</td>
        <td>{{product.active}}</td>
        <td>
          <a class="btn btn-warning btn-sm" routerLink='/admin/products/{{product.id}}/update'>Güncəllə</a>
          <div class="divider"></div>
          <a class="btn btn-danger btn-sm">Sil</a>
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-success" routerLink='/admin/products/add'><i class="fas fa-plus"></i> Yeni məhsul</a>
</div>