<div class="container table-responsive">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Ad</th>
                <th>Tarix</th>
                <th>Aktivlik</th>
                <th>Əməliyyatlar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table text-center" *ngFor="let category of categories">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.createDate | date :'dd/MM/yyyy, HH:mm:ss'}}</td>
                <td>{{category.active}}</td>
                <td>
                    <a class="btn btn-warning btn-sm" routerLink="/admin/categories/{{category.id}}/update" >Güncəllə</a>
                    <div class="divider"></div>
                    <a class="btn btn-danger btn-sm" (click)="delete(category)">Sil</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" [routerLink]="['/admin/categories/add']" routerLinkActive="router-link-active" ><i class="fas fa-plus"></i> Yeni kateqoriya</a>
</div>