<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ad</th>
                <th>Tarix</th>
                <th>Aktivlik</th>
                <th>Əməliyyatlar</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let category of categories">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td>{{category.createDate | date :'dd/MM/yyyy, HH:mm:ss'}}</td>
                <td>{{category.active}}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="">Güncəllə</a>
                    <div class="divider"></div>
                    <a class="btn btn-danger btn-sm" href="">Sil</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success"><i class="fas fa-plus"></i> Yeni kateqoriya</a>
</div>